<!doctype html>
<html ng-app="instantOCRApp">
	<head>
		<title>InstantOCR</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>
		<script src="app.js"></script>
		<style type="text/css">
			body { font-family: 'Lato', serif; }
		</style>
	</head>
	<body style="background-color: #F8F8F8" ng-controller="uploadController">
		<div style="height: 100%; padding: 20px">
			<div class="input-group">
				<span class="input-group-btn">
					<span class="btn btn-primary btn-file">
						Browse&hellip; <input type="file" id="file" onchange="angular.element(this).scope().fileChanged()">
					</span>
				</span>
				<input type="text" class="form-control" readonly>
				<span class="input-group-btn">
					<span class="btn btn-primary" ng-click="uploadFile()">Upload</span>
				</span>
			</div>
			<div style="padding: 20px" ng-if="!loading && text">Result:<p><pre>{{text}}</pre></p></div>
			<div style="padding: 20px" ng-if="loading">Loading&hellip; <img src="loading.gif" style="max-width: 20px"></div>
		</div>
	</body>
</html>